@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-color: #088484;
margin-bottom: 60px;
}
h1, h2{
  font-family: "PT Serif", serif !important;
  font-size: 30px !important;
  font-weight: 700;
  color: white;
}
p , b , a{
  font-family: "Montserrat", sans-serif;
  color: white;
}
.card img{
width: 100%;
height: 300px;
}
.card:hover{
  transform: scale(1.03);
  transition: .5s;
}
.card:hover .card-info {
  transform: scale(1.01);
  transition: .5s;
  box-shadow: -4px 4px #ffffffa3;
  background-color: #075c5c;
  padding: 10px;
}
.card{
  height: 320px;
  overflow: hidden;
}
/* .card .card-tile{
  position: relative;
  top: -85px;
  padding-left: 10px;
  font-size: 30px;
}
.card:hover .card-tile{
  background-color: #075c5c5e;
  transition: .5s;
}
.card:hover .card-tile span{
  transition: .5s;
  position: relative;
  right: -10px;
} */